---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h3 class="post-title">
           {% if site.title == "blank" -%} 
           {% if site.first_name_cn -%} 
            {{ site.last_name_cn }}{{ site.first_name_cn }},
           {%- endif %}
           <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h3>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="img float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
              {% include figure.html 
              path=profile_image_path 
              class="img-fluid z-dept-1 rounded"
              style="letter-spacing:10px"
              width=150
              height=200
              alt=page.profile.image 
              -%}
            {% endif -%}
            <!-- {% include social.html %} -->
            <a href="mailto:wyl410922@qq.com">Email</a>
            <a href="https://github.com/yanliang-wang">Github</a>
            <a href="https://youtube.com/channel/UCo3nTD83zMDl3ZSwxRlepDw">Youtube</a>
            <!-- Email/Github/Youtube -->
            
            {%- if page.profile.address %}
            <div class="address">
              <p>{{ page.profile.address }}</p>
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">              
              {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
